# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
.env

# Git files
.git/
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# Logs and temp files
*.log
*.tmp
*.swp

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
