name: Docker image Build and Deploy

on:
  release:
    types: [published]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        run: docker buildx create --use

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE_NAME=ghcr.io/$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          RELEASE_TAG=${{ github.event.release.tag_name }}
          IS_PRERELEASE=${{ github.event.release.prerelease }}

          TAGS="--tag ${IMAGE_NAME}:${RELEASE_TAG}"

          if [ "$IS_PRERELEASE" = "false" ]; then
            TAGS="$TAGS --tag ${IMAGE_NAME}:latest"
          fi

          docker buildx build \
            --file ./Dockerfile \
            --platform linux/arm64,linux/amd64 \
            $TAGS \
            --push .
